extends ./layout/index
block contenido
    main.container.mt-5 
    .row
        .col-md-5 
            img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
        .col-md-7
            h1=pagina
            blockquote  ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. A diam sollicitudin tempor id eu nisl nunc mi ipsum. Scelerisque mauris pellentesque pulvinar pellentesque habitant morbi tristique. Vitae sapien pellentesque habitant morbi tristique senectus et. Sem fringilla ut morbi tincidunt augue interdum velit euismod in. Velit scelerisque in dictum non consectetur a. In tellus integer feugiat scelerisque. Scelerisque felis imperdiet proin fermentum leo vel. Magnis dis parturient montes nascetur ridiculus mus. Mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget. Felis donec et odio pellentesque diam volutpat commodo sed egestas. Adipiscing bibendum est ultricies integer quis auctor elit sed.

            p amet volutpat consequat mauris nunc congue. Egestas congue quisque egestas diam in arcu cursus euismod quis. Egestas egestas fringilla phasellus faucibus scelerisque eleifend donec pretium. Ut venenatis tellus in metus vulputate eu scelerisque felis. Etiam tempor orci eu lobortis elementum nibh tellus molestie. Morbi tristique senectus et netus et malesuada fames ac turpis. Lacus viverra vitae congue eu. Eget nullam non nisi est sit amet facilisis magna. Id eu nisl nunc mi ipsum faucibus vitae aliquet. Diam vel quam elementum pulvinar etiam non quam. Ac turpis egestas maecenas pharetra convallis posuere morbi leo urna.

            p diam maecenas ultricies mi eget. Quis vel eros donec ac odio tempor orci dapibus. Placerat duis ultricies lacus sed turpis. Urna id volutpat lacus laoreet non curabitur gravida. Pellentesque id nibh tortor id. Odio aenean sed adipiscing diam donec adipiscing tristique risus nec. Massa tincidunt dui ut ornare lectus sit amet est. Lobortis scelerisque fermentum dui faucibus in. Id cursus metus aliquam eleifend. Lorem ipsum dolor sit amet consectetur adipiscing. Quis viverra nibh cras pulvinar mattis nunc sed blandit. Ante metus dictum at tempor commodo ullamcorper a lacus vestibulum. Vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt. Facilisi cras fermentum odio eu feugiat. Ut ornare lectus sit amet est placerat.
    
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .cold-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus eligendi eum nemo id fugit odit qui dignissimos debitis labore nobis reiciendis fuga dolor quas minima molestiae placeat, harum tempora. Beatae.
                .cold-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus eligendi eum nemo id fugit odit qui dignissimos debitis labore nobis reiciendis fuga dolor quas minima molestiae placeat, harum tempora. Beatae.
                .cold-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus eligendi eum nemo id fugit odit qui dignissimos debitis labore nobis reiciendis fuga dolor quas minima molestiae placeat, harum tempora. Beatae.

    
